extend layout
block content
    script(type="text/javascript")
        var io = io.connect();

        function StatusController($scope) {
            $scope.Statuses = [];

            io.on('new status:#{ns}', function(data) {
                $scope.$apply(function() {
                    var name = data.name;
                    var elementToUpdate = _.find($scope.Statuses, function(value) {
                        return value.name === name;
                    });

                    if (typeof elementToUpdate === 'undefined') {
                        elementToUpdate = {ns: data.ns, name: data.name};
                        $scope.Statuses.push(elementToUpdate);
                    }

                    elementToUpdate.status = data.status;
                });
            });

            $scope.getWidth = function(status) {
                var range = status.max - status.min;
                var fraction = status.value / range;
                var percentage = fraction * 100;
                return { width: percentage + "%" };
            };

            $scope.ns = '#{ns}';
        };

    h1 #{ns}

    #statuses(ng-controller="StatusController")
        div(ng-show="Statuses.length == 0")
            h3 ...waiting for statuses...
            pre
                ~ POST /status
                ~ {
                ~     ns: "#{ns}",
                ~     name: "SomeMachine:Ram",
                ~     status: {
                ~         type: "meter",
                ~         min: 0,
                ~         max: 100,
                ~         value: 82,
                ~         label: "4.6 GB (82 %)"
                ~     }
                ~ }
                ~
                ~ POST /status
                ~ {
                ~     ns: "#{ns}",
                ~     name: "SomeProgram:CI-status",
                ~     status: {
                ~         type: "stoplight",
                ~         color: "green",
                ~         label: "It's ok."
                ~     }
                ~ }

        ul
            li(ng-repeat="status in Statuses")
                div.name {{status.name}}
                
                div.stoplight(ng-show="status.status.type == 'stoplight'")
                    div.stoplight(ng-class="status.status.color")
                        {{status.status.label}}

                div.meter(ng-show="status.status.type == 'meter'")
                    div.gauge(ng-style="getWidth(status.status)")
                        {{status.status.label}}
