extend layout
block content
    script(type="text/javascript")
        var io = io.connect();

        function StatusController($scope) {
            $scope.Statuses = !{initialStatuses};

            io.on('new status:#{ns}', function(data) {
                $scope.$apply(function() {
                    var name = data.n;
                    var elementToUpdate = _.find($scope.Statuses, function(value) {
                        return value.n === name;
                    });

                    if (typeof elementToUpdate === 'undefined') {
                        elementToUpdate = {ns: data.ns, n: data.n};
                        $scope.Statuses.push(elementToUpdate);
                    }

                    elementToUpdate.s = data.s;
                });
            });

            $scope.getWidth = function(status) {
                var range = status.max - status.min;
                var fraction = status.v / range;
                var percentage = fraction * 100;
                return { width: percentage + "%" };
            };

            $scope.ns = '#{ns}';
        };

    h1 #{ns}

    #statuses(ng-controller="StatusController")
        div(ng-show="Statuses.length == 0")
            h3 ...waiting for statuses...
            pre
                ~ POST /status
                ~ {
                ~     ns: "#{ns}",
                ~     n: "SomeMachine:Ram",
                ~     s: {
                ~         t: "meter",
                ~         min: 0,
                ~         max: 100,
                ~         v: 82,
                ~         txt: "4.6 GB (82 %)"
                ~     }
                ~ }
                ~
                ~ POST /status
                ~ {
                ~     ns: "#{ns}",
                ~     n: "SomeProgram:CI-status",
                ~     s: {
                ~         t: "stoplight",
                ~         c: "green",
                ~         txt: "It's ok."
                ~     }
                ~ }

        ul
            li(ng-repeat="status in Statuses")
                div.name
                    a(href="/#{ns}/{{status.n}}")
                        {{status.n}}
                    span.timestamp {{status.s.dt}}
                
                div.stoplight(ng-show="status.s.t == 'stoplight'")
                    div.stoplight(ng-class="status.s.c")
                        {{status.s.txt}}

                div.meter(ng-show="status.s.t == 'meter'")
                    div.gauge(ng-style="getWidth(status.s)")
                        {{status.s.txt}}